<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="script/plusSelect.css"/>

<title>Insert title here</title>
<style type="text/css">
	table{
		width: max-content;
		
	}
	
	td{

white-space:pre-line;
word-wrap: break-word;
word-break: break-all;

}
/*#dolabel{
	display: inline-block;
	border:2px solid ;
    width:200px;
    height: 80px;
    background-color: aqua;
}
#donelabel{
	display: inline-block;
	border:2px solid ;
    width:200px;
    height: 80px;
    background-color: rgb(255, 255, 128);
}*/
</style>
</head>
<body>
<!--<div>
		<label for="do" id="dolabel">未做</label>
		<button id="do" onclick="window.location.href='/testing'" hidden></button>
		<label for="done" id="donelabel">已做</label>
		<button id="done" onclick="window.location.href='/check'" hidden></button>
	</div>-->
	<div id="manualPanel" hidden>
		<label for="close" id="lclose">X<button id="close" onclick="closemanualPanel()" hidden></button></label>
	<form action="#" th:action="@{/manualAddFData}" method="get" enctype="text/plain">			
	<label for="input1" id="l1">样品短号<input id="input1" type="text" name="simpleNum"  /></label>
	<label for="input2" id="l2">样品名称<input id="input2" type="text" name="simpleName" value="/"/></label>
	<label for="input3" id="l3">检测项目<input id="input3" type="text" name="simpleItem" value="m"/></label>
	<label for="input4" id="l4">检测方法<input id="input4" type="text" name="testMethord" value="/" /></label>
	<label for="update" id="input5" >提交</label><input id="update" type="submit"  hidden></label>
	
	</form>
	</div>
	<div style="font-size: 0;" id="home" >
		<img src="image/Buttonplus.png" id="appselectLabel"  ></img>
		<div id="selectapp" style="grid-auto-flow: column;" hidden>
			<img src="image/weizuo.png"  id="dolabel" onclick="window.location.href='/testing'">未做</img>		
		<img src="image/yizuo.png" id="donelabel"  onclick="window.location.href='/check'">已做</img>		
		<img src="image/xieguan.png" id="writeMPNlabel" onclick="window.location.href='/questMPN'">写管</img>		
		<img src="image/jiafuce.png" id="mbut" onclick="openmanualPanel()">手动添加复测</img>	
		<a  id="tipLabelc" href="/load" download="biaoqian.txt"  >标签下载</a>
		<a id="tipLabelF" href="/loadF" download="Fbiaoqian.txt" >复测标签下载</a>	
		
		</div>
		</div>
<div>
	<table  bgcolor="#8fbc8f"  border="1">
   <tr>
		
		<!--<td>序号</td>-->
		<td>样品短号</td>
		<td>样品名称</td>
		<td>报告抬头</td>
		<td>检测项目</td>
		<td>报告单位</td>
		<td>检测方法</td>		
		<td>备注</td>
   </tr>
	
	<tr id="trid" th:each="simple:${presentList}" >
		
		<!--<td ><button onclick="changeColor(this.id) " action="http://192.168.2.8:8081" ><input >已做</button></td>-->
		
	<!--<td th:text="${simple.getId()}"></td>-->
	<td hidden><label id="F" th:value="${simple.getIfF()}" ></label></td>
	<td th:text="${simple.getNumber()}" style="font-size: 30px;"></td>
	<td th:text="${simple.getName()}" width="50px" ></td>
	<td th:text="${simple.getCompany()}" width="50px"></td>
	<td  th:text="${simple.getTestItem()}" style="font-size: 30px;"></td>
	<td th:text="${simple.getUnit()}"></td>		
	<td th:text="${simple.getTestMethod()}"></td>
	<td>
	<label th:text="${simple.getTip()}" width="500px" ></label>
	</td>
	</tr>
	<button hidden></button>
</table>

</div>

<script>
	var tr = document.querySelectorAll('#trid');
	var fl = document.querySelectorAll('#F');
	for(var i=0;i<tr.length;i++){
		  var trid="tr"+i;  
		   
			   tr[i].setAttribute('id',trid);
			   if(i%2==0){
				   tr[i].style.backgroundColor = "#b9d5b9";
			  }
			    if(fl[i].getAttribute('value')==="BF"){
					 tr[i].style.backgroundColor = "red";
				}else if(fl[i].getAttribute('value')==="RBF"){
					tr[i].style.backgroundColor = "blue";
				}
			 
	  }
</script>
 <script src="script/plusSelect.js?v1.0.2" ></script>
<script>initDraggable('home','appselectLabel');</script>
</body>
</html>